/* Design System */

:root {
    /* colours */
    --color-primary-background: #141414;
    --color-profile-background: #1F1F1F;
    --color-secondary-background: #333333;
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #333333;
    --color-accent: #C4F82A;

    /* typography */
    --font-family: "Inter", sans-serif;
    --font-size-lg: 1.5rem;
    --font-size-sm: 0.875rem;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --line-height: 1.5;
    --letter-spacing: 0;

    /* spacing */
    --profile-width: clamp(20.4375rem, 17.5986rem + 12.1127vw, 28.5rem);
    --profile-padding: clamp(1.5rem, 1.1479rem + 1.5023vw, 2.5rem);
    --margin-xl: 2.5rem;
    --margin-lg: 1.5rem;
    --margin-regular: 1rem;
    --margin-xs: 0.25rem;
}

/* Fonts */

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter.woff2") format("woff2");
    font-display: swap;
    font-weight: 100 900;
}